@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    list-style: none;

    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url('../assets/background.png');
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;

    margin: 100px auto 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.task-input {
    border: none;
    border-radius: 10px;
    flex: 1;
    padding: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #003329;
    color: #fff;
    float: 400;
    font-weight: bold;
}

.button-add-task:hover {
    opacity: .8;
}

.button-add-task:active {
    opacity: .6;
}

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 8px;
}

.task-item {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
    padding: 8px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

.task-done {
    background-color: #999;
    text-decoration: line-through;
}

.task-item:hover .task-action {
    opacity: 1;
    cursor: pointer;
}

.task-title {
    font-weight: bold;
}

.task-actions {
    display: flex;
    align-items: center;
    gap: 9px;
}

.task-action {
    height: 23px;
    transition: all .2s ease-in-out;

    opacity: 0;
}

.task-action:hover {
    transform: scale(1.2);
}